<p id="notice"><%= notice %></p>

<div class="row">
  <h1>All Topics</h1>
</div>

<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Requested by</th>
      <th>Role</th>
      <th>Date requested</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <td><%= link_to topic.requester.name, topic.requester %></td>
        <td><%= topic.requester.role %></td>
        <td><%= topic.created_at.to_date.strftime('%B %d, %Y') %></td>
        
        <% if topic.status == "requested" %>
          <td>No one is writing about this yet.</td>
        <% elsif topic.status == "pending" %>
          <% if logged_in? && topic.writer.id == current_user.id %>
            <td><%= "You are working on this!" %></td>
          <% else %>
            <td><%= "#{topic.writer.name} is working on this!" %></td>
          <% end %>
        <% elsif topic.status == "completed" %>
          <% if logged_in? && topic.writer.id == current_user.id %>
            <td><%= "You wrote this!"%></td>
          <% else %>
            <td><%= "#{topic.writer.name} wrote this!" %>
          <% end %>
        <% end %>

        <% if logged_in? && topic.requester.id == current_user.id %>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row">
<% if logged_in? %>
<%= link_to 'Request a new topic!', new_topic_path %> |
<%= link_to 'See all your requests & posts', user_path(current_user) %>
<% end %>
</div>