<div class="row">
  <div class="page-header">
    <h2>All Topics</h2>
  </div>
</div>

<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Requested by</th>
      <th>Role</th>
      <th>Date requested</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <td><%= link_to topic.requester.name, topic.requester %></td>
        <td><%= topic.requester.role %></td>
        <td><%= topic.created_at.to_date.strftime('%B %d, %Y') %></td>
        <% if topic.status == "requested" %>
          <td><span class='label label-danger'>No one is writing about this yet.</span></td>
        <% elsif topic.status == "pending" %>
          <% if logged_in? && topic.writer.id == current_user.id %>
            <td><span class='label label-warning'>You are working on this!</span></td>
          <% else %>
            <td><span class='label label-warning'><%= topic.writer.name %> is working on this!</span></td>
          <% end %>
        <% elsif topic.status == "completed" %>
          <% if logged_in? && topic.writer.id == current_user.id %>
            <td><span class='label label-success'>You wrote this!</span></td>
          <% else %>
            <td><span class='label label-success'><%= topic.writer.name %> wrote this!</span></td>
          <% end %>
        <% end %>
        <% if logged_in? && topic.requester.id == current_user.id %>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td> </td>
          <td> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="row">
  <%= render 'layouts/index_buttons' %>
</div>