<div class="page-header">
  <h2><%= @topic.name %></h2>
</div>

<div class="container">
  <div class="row">
    <h4><%= "Requested by #{@topic.requester.name} on #{@topic.created_at.to_date.strftime('%B %d, %Y')}" %></h4>
    <h5>Notes on the topic:</h5>
    <p><%= @topic.notes %></p>
  </div>
  <div class="row">
    <h4>Status</h4>
      <%= render 'claim_post' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render 'topic_footer' %>
  </div>
</div>