<p id="notice"><%= notice %></p>

<div class="page-header"><h1><%="#{@name} Posts & Requests"%></h1></div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%="#{@name} Requests" %></h3>
  </div>
  <div class="panel-body">
    <% @requested_posts.each do |topic| %>
      <%= link_to "#{topic.name}", topic_path %><br>
    <% end %>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><%="#{@name} Posts in Progress" %></h3>
  </div>
  <div class="panel-body">
    <% @claimed_posts.each do |post| %>
      <%= link_to "#{post.topic.name}", topic_path(post.topic.id) %><br>
    <% end %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%="#{@name} Completed Posts" %></h3>
  </div>
  <div class="panel-body">
    <% @completed_posts.each do |post| %>
      <%= link_to "#{post.topic.name}", topic_path(post.topic.id) %><br>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render 'layouts/index_buttons' %>
  </div>
</div>