<p id="notice"><%= notice %></p>

<h2><%="#{@name} Requests" %></h2>
<% @requested_posts.each do |topic| %>
  <%= link_to "#{topic.name}", topic_path %><br>
<% end %>

<h2><%="#{@name} Posts in Progress" %></h2>
<% if @claimed_posts %>
  <% @claimed_posts.each do |post| %>
    <%= link_to "#{post.topic.name}", topic_path(post.topic.id) %><br>
  <% end %>
<% end %>

<h2><%="#{@name} Completed Posts" %></h2>
<% if @completed_posts %>
  <% @completed_posts.each do |post| %>
    <%= link_to "#{post.topic.name}", topic_path(post.topic.id) %><br>
  <% end %>
<% end %>

<%= link_to 'Back to All Topics', root_path %>